.boro-text{
    font-size: 54px;
    width: 330px;
    
}
.choto-text{
    width: 330px;

}
.nav-item a{
    font-weight: 500;
    margin-left: 20px;
}
.shoes{
    padding-top: 100px;
    padding-bottom: 100px;
}
span{
    color: rgb(235, 116, 5);
}